.background {
  viewport-fill: #000000;
}

.hours {
  font-size: 58;
  text-length: 12;
  font-family: Colfax-Bold;
}

.mins {
  font-size: 58;
  text-length: 12;
  font-family: Colfax-Regular;
}

#hours {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Bold;
  text-anchor: middle;
  x: 50%; 
  y: 32%;
}

#hoursNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Bold;
  text-anchor: middle;
  x: 160%;
  y: 32%;
}

#tens {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 50%;
  y: 50%;
}

#tensNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 160%;
  y: 50%;
}

#minutes {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 50%;
  y: 68%;
}

#minutesNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 160%;
  y: 68%;
}

.aux-data {
  font-size: 24;
  line-increment: 24;
  display-align: middle;
  font-family: Colfax-Regular;
}

#date {
  x: 50%;
  y: 86%;
  text-length: 22;
  text-anchor: middle;
}

#batteryIcon {
  x: 38%;
  y: 6%;
  text-length:1;
}

#batterylevel {
  x: $+2;
  y: 6%;
  text-length: 4;
  text-anchor: start;
  fill: #ffffff;
 }

#heartIcon {
  x: 22%;
  y: 97%;
  text-length: 1;
}

#heartrate {
  x: $+2;
  y: 97%;
  text-length: 3;
  text-anchor: start;
}

#healthcontainer {
  width: 50%;
  height: 31;
  x: 50%;
  y: 88%;
}

#stepIcon {
  x: 12%;/*56%;*/
  y: 90%;
  text-length: 1;
  display-align: end;
}

#stepcount {
  x: $+2;
  y: 97%;
  text-length: 6;
  text-anchor: start;
}

#distanceIcon {
  x: 12%;
  y: 92%;
  text-length: 1;
}

#distancecount {
  x: $+2;
  y: 97%;
  text-length: 6;
  text-anchor: start;
}

#floorIcon {
  x: 12%;
  y: 97%;
  text-length: 1;
}

#floorcount {
  x: $+2;
  y: 97%;
  text-length: 4;
  text-anchor: start;
}

#caloriesIcon {
  x: 12%;
  y: 90%;
  text-length: 1;
}

#caloriescount {
  x: $+2;
  y: 97%;
  text-length: 6;
  text-anchor: start;
}