.background {
  viewport-fill: black;
}

.hours {
  font-size: 58;
  font-family: Colfax-Bold;
}

.minutes {
  font-size: 58;
  font-family: Colfax-Regular;
}

.current {
/*   fill: green;   */
}

.upcoming {
/*   fill: blue; */
}

text {
  fill: white;
  text-length: 50;
}

textarea {
  fill: white;
  text-length: 50;
}

.aux-data {
  font-size: 24;
  font-family: Colfax-Regular;
}

#activity {
  fill: #2490dd;
  width: 24;
  height: 24;
  x: 2%;
  y: 90%;
}

#hours {
  x: 50%; text-anchor: middle;
  y: 32%;
}

#hoursNext {
  x: 180%;  text-anchor: middle;
  y: 32%;
}

#tens {
  x: 50%; text-anchor: middle;
  y: 50%;
}

#tensNext {
  x: 180%;  text-anchor: middle;
  y: 50%;
}

#minutes {
  x: 50%; text-anchor: middle;
  y: 68%;
}

#minutesNext {
  x: 180%;  text-anchor: middle;
  y: 68%;
}

#minutesB {
  x: 50%; text-anchor: middle;
  y: 86%;
}

#minutesBNext {
  x: 180%;  text-anchor: middle;
  y: 86%;
}

#date {
  x: 50%;
  y: 86%;
  text-anchor: middle;
}

#heartrate {
  x: 25%;
  y: 97%;
  text-anchor: middle;
}

#stepcount {
  x: 75%;
  y: 97%;
  text-anchor: middle;
}
{
  x: 75%;
  y: 97%;
  text-anchor: middle;
}
