.background {
  viewport-fill: #000000;
}

.hours {
  font-size: 58;
  text-length: 12;
  font-family: Colfax-Bold;
}

.mins {
  font-size: 58;
  text-length: 12;
  font-family: Colfax-Regular;
}

#hours {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Bold;
  text-anchor: middle;
  x: 50%; 
  y: 32%;
}

#hoursNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Bold;
  text-anchor: middle;
  x: 180%;
  y: 32%;
}

#tens {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 50%;
  y: 50%;
}

#tensNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 180%;
  y: 50%;
}

#minutes {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 50%;
  y: 68%;
}

#minutesNext {
  text-length: 12;
  font-size: 58;
  font-family: Colfax-Regular;
  text-anchor: middle;
  x: 180%;
  y: 68%;
}

.aux-data {
  font-size: 24;
  font-family: Colfax-Regular;
}

#date {
  x: 50%;
  y: 86%;
  text-length: 30;
  text-anchor: middle;
}

#batteryIcon {
  x:22%;
  y:10%;
  text-length:1;
}

#batterylevel {
  x: $+2;
  y: 10%;
  text-length: 4;
  text-anchor: start;
  fill: #ffffff;
 }

#heartIcon {
  x: 22%;
  y: 97%;
  text-length: 1;
}

#heartrate {
  x: $+2;
  y: 97%;
  text-length: 4;
  text-anchor: start;
}

#stepIcon {
  x: 56%;
  y: 97%;
  text-length: 1;
}

#stepcount {
  x: $+2;
  y: 97%;
  text-length: 6;
  text-anchor: start;
}
h: 4;
  text-anchor: start;
}

#stepIcon {
  x: 56%;
  y: 97%;
  text-length: 1;
}

#stepcount {
  x: $+2;
  y: 97%;
  text-length: 6;
  text-anchor: start;
}
